{% extends "base.html.twig" %}

{% block title %}
    Recherche - Acteur
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid text-center m-5 ">
  <h1>Vous recherchez un acteur ?</h1>
  <p class="lead">Formulaire pour rechercher des Acteurs par nom</p>
  <hr class="my-4"> 
</div>
<div class="container mb-5">
<form action="index.php?page=acteur" method="post">
<fieldset>
<div class="form-group">
      <label for="inputTitle" class="form-label mt-4">Nom :</label>
      <input type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="Entrer le nom d'un acteur">
    </div>
    <button type="submit" class="btn btn-primary mt-4" name="Recherche">Recherche</button>
    </fieldset>  
</form>
</div>
<div class="contrainer-fluid d-flex flex-wrap justify-content-center align-items-baseline gap-5">
{% if acteur|length != 0%}
{% for a in acteur %}
<div class="card card-hover" style="max-width: 20rem;">
 {% if a.profile_path is not null %} 
 <img src="https://image.tmdb.org/t/p/w500/{{a.profile_path}}" class="card-img-top" alt="Un très bon acteur">
{% else %}
<img src="https://via.placeholder.com/500?text=No+image" class="card-img-top" alt="Un très bon acteur">
 {% endif %}
  
  <div class="card-body text-center">
    <h5 class="card-title fs-2">{{a.name}}</h5>
    <p class="card-text text-primary fs-2">Connu(e) pour : </p>
    <ul>
    {% for k in a.known_for %}
        <li>{{k.title}}</li>
    {% endfor %}
    </ul>
    <a href="#">En savoir plus ></a>
  </div>
</div>
{% endfor %}

{% else %}
<div class="jumbotron jumbotron-fluid text-center m-5">
  <h1>{{error}}. . .</h1>
</div> 
{% endif %}
</div>
{% endblock %}